body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root > div > div > div:nth-child(1) > div {
  background-image:url("./code10.png") !important;
  z-index:2;
}

#root > div > div > div:nth-child(1) > div > div.ui.large.inverted.menu {
  top:0 !important;
}

/* Header dividers */

.ui.inverted.divider {
    width: 50%;
    margin: 0 auto;
    margin-top: 1.5em;
}

/* Header checkboxes */

.ui.checkbox label {
  color: white !important;
  margin: 1em;
}
